## Import The Required Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Get and clean the data

In [2]:
data = pd.read_csv("Titanic-Dataset.csv")
data.drop("PassengerId", axis=1)
female = data[data["Sex"] == "female"]
female_use = female.drop(["PassengerId", "Pclass", "SibSp", "Parch"], axis=1)
male = data[data["Sex"] == "male"]
male_use = male.drop(["PassengerId", "Pclass", "SibSp", "Parch"], axis=1)
male_use["Age"] = male_use["Age"].fillna(male_use["Age"].mean())
male_use.fillna(0)

,Survived,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,0,"Braund, Mr. Owen Harris",male,22.000000,A/5 21171,7.2500,0,S
4,0,"Allen, Mr. William Henry",male,35.000000,373450,8.0500,0,S
5,0,"Moran, Mr. James",male,30.726645,330877,8.4583,0,Q
6,0,"McCarthy, Mr. Timothy J",male,54.000000,17463,51.8625,E46,S
7,0,"Palsson, Master. Gosta Leonard",male,2.000000,349909,21.0750,0,S
...,...,...,...,...,...,...,...,...
883,0,"Banfield, Mr. Frederick James",male,28.000000,C.A./SOTON 34068,10.5000,0,S
884,0,"Sutehall, Mr. Henry Jr",male,25.000000,SOTON/OQ 392076,7.0500,0,S
886,0,"Montvila, Rev. Juozas",male,27.000000,211536,13.0000,0,S
889,1,"Behr, Mr. Karl Howell",male,26.000000,111369,30.0000,C148,C
890,0,"Dooley, Mr. Patrick",male,32.000000,370376,7.7500,0,Q

### Try and visualize the data

In [3]:
# plt.title("Age of men in the ship")
# plt.xlabel("Sex")
# plt.ylabel("Survived")
# plt.bar(male_use.index, male_use["Survived"])
# plt.show()
# male_use.plot.hist(stacked=True, bins=20)

In [4]:
# for i in range(100):
    # print(np.random.randint(2, size=(10, 10)))

In [ ]:
arr = np.random.randint(2, size=(20, 20))
print(arr)
df2 = pd.DataFrame(arr)
df2

In [5]:
mass = np.random.random(100000)
mass[:100]

array([0.00237121, 0.46691068, 0.40533281, 0.9821385 , 0.7348904 ,
       0.83892953, 0.96934312, 0.24896277, 0.8293174 , 0.31170441,
       0.91156945, 0.14623781, 0.90602   , 0.21851093, 0.94773245,
       0.77221152, 0.69192778, 0.77915707, 0.22769262, 0.76077339,
       0.92594277, 0.81860694, 0.23069386, 0.07372756, 0.81516592,
       0.33869546, 0.08505593, 0.68343327, 0.04654324, 0.84602044,
       0.66042958, 0.07971656, 0.40495894, 0.29328819, 0.81530965,
       0.39554803, 0.01094902, 0.35856021, 0.70092804, 0.35701554,
       0.44227368, 0.20200136, 0.75204319, 0.42340383, 0.61343807,
       0.8636831 , 0.47490116, 0.37642959, 0.88182244, 0.31989119,
       0.41781137, 0.25061829, 0.26036787, 0.58592246, 0.59440802,
       0.09242493, 0.8444507 , 0.18493142, 0.69970054, 0.78107564,
       0.15184991, 0.49615713, 0.60028954, 0.84317033, 0.5929148 ,
       0.51229233, 0.84413004, 0.78932216, 0.40505678, 0.20545289,
       0.98807357, 0.6444573 , 0.13578645, 0.35854823, 0.04263184,
       0.67303097, 0.85185765, 0.20572011, 0.10879357, 0.41465906,
       0.75129517, 0.61193294, 0.38736806, 0.14928475, 0.81223758,
       0.56824507, 0.78501813, 0.72095476, 0.39774052, 0.80146343,
       0.27556003, 0.42126551, 0.14530132, 0.41097013, 0.3557938 ,
       0.43721764, 0.19476151, 0.5655119 , 0.26822458, 0.74612486])

In [6]:
%timeit sum(mass)
%timeit np.sum(mass)

37.3 ms Â± 890 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)
373 Âµs Â± 20.1 Âµs per loop (mean Â± std. dev. of 7 runs, 1,000 loops each)

In [7]:
12/5

2.4